/* Header */
.home .site-header{
  width:100%;
  height: 350px;
	background: url('../../images/dinosaur.jpg') no-repeat center center/cover;
  position: relative;
  @include bp(tablet) {
    height: 500px;
  }
  @include bp(desktop) {
    height: 600px;
  }
}

body:not(.home) .site-content{
  padding-top: 130px;
}

.main-navigation{
  position: fixed;
  display: flex;
  height: 110px;
  justify-content: space-between;
  align-items: stretch;
  transition: border .3s ease-in-out;
  a{
    text-decoration: none;
    color: $color_pink;
  }
  ul a{
    padding: 2px 7px;
    font-size: 0.9rem;
    @include bp(tablet) {
      font-size: 1.2rem;
    }
  }
}

.fixed-nav {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: white;
  opacity: 0.95;
  border-top: 5px solid $color_medium-grey;
  border-bottom: 3px solid $color_medium-grey;
  a{
    text-decoration: none;
    color: black;
  }
  @include bp(tablet) {
    top: auto;
  }
}

.site-branding{
  margin-left: 5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
}

.display-branding{
  visibility: hidden;
}

.home-site-branding{
  display: none;
}

.home .home-site-branding{
  display: flex;
  position: absolute;
  height: 110px;
  left: 0;
  bottom: 0;
  a{
    text-decoration: none;
    color: black;
  }
}

.menu-menu-1-container{
  width: 40%;
  margin-right: 5%;
  display: flex;
  align-items: stretch;
}

.main-navigation ul{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li{
  margin-left: 7vw;
  @include bp(desktop){
    margin-left: 10vw;
  }
}

.current-menu-item{
  &:first-child{
    border-left: 3px solid $color_pink;
    border-bottom: 3px solid $color_pink;
  }
  &:nth-child(2){
    border-top: 3px solid $color_pink;
    border-right: 3px solid $color_pink;
  }
}

.fixed-nav{
  .current-menu-item{
    &:first-child{
      border-left: 3px solid $color_red;
      border-bottom: 3px solid $color_red;
    }
    &:nth-child(2){
      border-top: 3px solid $color_red;
      border-right: 3px solid $color_red;
    }
  }
}
