/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body{
  .site-content{
    @include container;
  }
}
/* Contect Page */
.entry-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/* Front page */

.project-list{
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
    hr{
      width: 100%;
    }
    h3{
      font-family:$font__title;
      font-weight: lighter;
      font-size: 1.5rem;
      margin-bottom: 1.4rem;
      @include bp(tablet) {
        padding-left: 50px;
        font-size: 1.8rem;
        align-self: flex-start;
      }
    }
    li{
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      &:last-child hr{
        display: none;
      }
    }
}

.project-wrapper{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  margin: 20px 0;
  @include bp(tablet) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}


.project-overview{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  @include bp(tablet) {
    width: 53%;
  }
    .overview-header{
      font-size: 1.2rem;
      font-weight: bold;
      margin: 20px 0 0 0;
      position: relative;
        &:after{
            content : "";
            position: absolute;
            left    : 0;
            bottom  : -10px;
            height  : 1px;
            width   : 159px;
            border-bottom: 1px solid $color_red;
            margin-bottom: 10px;
        }
    }
    .overview-intro{
      line-height: 2rem;
      text-indent: 50px;
      margin: 20px 0;
      @include bp(tablet) {
        margin: 0;
      }
      @include bp(desktop) {
        line-height: 2.2rem;
      }
    }
    button{
      height: 50px;
      width: 150px;
      border: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0px;
      background: $color_red;
      font-size: 1.15rem;
      color: white;
      transition: all .5s ease-in-out;
          &:hover{
            opacity: 0.7;
            color: black;
            font-weight: bold;
          }
    }
    a{
      align-self: center;
      @include bp(tablet) {
        align-self: flex-end;
      }
    }
}

.project-overview p{
  margin-bottom: 20px;
  @include bp(tablet) {
    margin-bottom: 0px;
  }
}

/* feature gallery */
.project-features{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include bp(tablet) {
    width: 44%;
  }
  img{
    border: 2px solid $color_medium-grey;
  }
}

.feature1{
  width: 100%;
  text-align: center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bp(tablet) {
    margin: 20px 0;
  }
  img{
    width: 95%;
    min-width: 250px;
  }
}


.feature2{
  width: 80%;
  position: relative;
  min-height: 350px;
  @include bp(tablet) {
    width: 100%;
  }
}

.feature2 img{
  min-width: 175px;
  &:first-child{
    width:60%;
    max-width: 295px;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
  }
  &:nth-child(2){
    max-width: 245px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.feature3{
  width: 100%;
  min-height: 400px;
  text-align: center;
  position: relative;
}

.feature3 img{
  &:first-child{
    width: 35%;
    max-height: 80%;
    margin-right: 10%;
    margin-top: 20px;
    position: absolute;
    top:0;
    left:0;
  }
  &:nth-child(2){
    width: 35%;
    max-height: 80%;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 65%;
  }
  &:nth-child(3){
    width: 46%;
    max-height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 27%;;
  }
}
/*About page*/
.about-display{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.about-intro img{
  width: 90%;
  min-width: 475px;
  max-width: 650px;
  @include bp(tablet) {
    width: 50%;
  }
}

.skill-grid{
  width: 100%;
  max-width: 999px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include bp(tablet) {
  }
    .skill{
      width:150px;
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      margin: 20px 2vw;
      @include bp(tablet) {
        width: 200px;
      }
    }

}
.circle{
  position: relative;
    .circle-box{
      position: absolute;
      top: 25px;
      left: 40px;
      width: 70px;
      height: 70px;
      @include bp(tablet) {
        top: 25px;
        left: 65px;
      }
      img{
        width:100%;
        border-radius: 10px;
      }
  }
}

.gallery-thumbnail{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.gallery-thumbnail img{
  width: 20%;
  margin: 10px 3.7vw;
  @include bp(tablet) {
    width: 10%;
    margin: 10px 3vw;
  }
}

.gallery-thumbnail img:nth-child(2), .gallery-thumbnail img:nth-child(4) {
  order: 99;
  @include bp(tablet) {
    order: 0;
  }
}

.gallery-large{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @include bp(tablet) {
    flex-flow: row wrap;
  }
}

.gallery-large img{
  width: 100%;
  margin: 10px 0;
  @include bp(tablet) {
    margin: 10px 2vw;
    width: 45.5%;
  }
}

.endnote{
  font-size: 1.25rem;
  font-weight: bold;
}

.endnote img {
  width: 20%;
  @include bp(tablet) {
    width: 10%;
  }
}

/* Contact Page */
.wpcf7{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.wpcf7-form{
  width: 80%;
  margin-top: -20px;
  display:flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  align-items: center;
  @include bp(tablet) {
    width: 100%;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: stretch;
  }
    .wpcf7-text, .wpcf7-textarea{
      border-radius: 0px;
      border: 2px solid $color_medium-grey;
      padding: 0 10px;
      margin: 7px 0;
      width: 100%;

    }
    .wpcf7-text{
      height: 50px;
    }
    .wpcf7-textarea{
      height: 155px;
      padding: 10px;
    }
    p{
      width: 100%;
      text-align:center;
      img{
        display: none;
      }
    }
    .wpcf7-submit{
      margin-top: 0px;
      border: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0px;
      background: $color_red;
      color: white;
      font-size: 1.2rem;
      height: 50px;
      width: 165px;
      transition: all .5s ease-in-out;
      @include bp(tablet) {
        width: 175px;
      }
      &:hover{
      box-shadow:none;
      opacity: 0.7;
      color: black;
      font-weight: bold;
      }
    }
}

.form-column-1, .form-column-2 {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  @include bp(tablet) {
    width: 47%;
  }
}

/* Single Project Page */
.project-display{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.project-gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.project-gallery img{
  width: auto;
  height: 60vw;
  margin: 10px;
  margin: 10px;
  @include bp(tablet) {
    margin: 10px 2vw;
    width: 37%;
    height: auto;
  }
}
